$content-width:1200px;
html{
    padding-bottom: 20px;
    background-color: #000;
}
body,input,ul,li,form,p,dl,dt,dd,h3{
    margin: 0;
    padding: 0;}
   body{
    background: #15191e;
    font-family: "microsoft yahei";
    font-size: 12px;
    color: #fff;
    word-break: break-all;
    word-wrap: break-word;
    a{
        text-decoration: none;
        color:#000000;
        &:hover{
            text-decoration: underline;
        }
    }
    b{
        font-style: normal;
    }
    input{
        border: none;
        outline: none;
    }
    li{
        list-style: none;
    }
}

.head,.nav,.menu-banner,.aside-main,ul.brand,ul.shop-show{
    width: $content-width;
    margin: 0 auto;
}
.iconx {
    background-image: url(../img/Ficon.png);
    background-repeat: no-repeat;
}
.aside-main{
    overflow: hidden;
}  
.case-title {
        background: url(../img/bg_case.jpg) 0 repeat-x;
        font-size: 14px;
        line-height: 35px;
        height: 35px;
        color: #000;
        padding-left: 30px;
}