body,input,ul,li{
    margin: 0;
    padding: 0;}
   body{
    background: #15191e;
    font-family: "microsoft yahei";
    font-size: 12px;
    a{
        text-decoration: none;
        color:#000000;
    }
    input{
        border: none;
        outline: none;
    }
}

.head{
    margin: 0 auto;
}
